<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Seth Bergman | Full Stack Engineer</title>
    <meta name="description" content="I enjoy helping people, have an entrepreneurial spirit, and an unquenchable thirst for knowledge. I learn a lot from people who have been here longer than me.">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css?v=0f8f526f38">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400">

    <link rel="canonical" href="http://blog.sethbergman.com/author/seth-bergman/">
    <meta name="referrer" content="origin">
    
    <meta property="og:site_name" content="Seth Bergman | Full Stack Engineer">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Seth Bergman - Page 1 - Seth Bergman | Full Stack Engineer">
    <meta property="og:description" content="I enjoy helping people, have an entrepreneurial spirit, and an unquenchable thirst for knowledge. I learn a lot from people who have been here longer than me.">
    <meta property="og:url" content="http://blog.sethbergman.com/author/seth-bergman/">
    <meta property="og:image" content="http://blog.sethbergman.com/content/images/2015/11/retrocat.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Seth Bergman - Page 1 - Seth Bergman | Full Stack Engineer">
    <meta name="twitter:description" content="I enjoy helping people, have an entrepreneurial spirit, and an unquenchable thirst for knowledge. I learn a lot from people who have been here longer than me.">
    <meta name="twitter:url" content="http://blog.sethbergman.com/author/seth-bergman/">
    <meta name="twitter:image:src" content="http://blog.sethbergman.com/content/images/2015/11/retrocat.png">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "sameAs": "http://SethBergman.com",
    "publisher": "Seth Bergman | Full Stack Engineer",
    "name": "Seth Bergman",
    "url": "http://blog.sethbergman.com/author/seth-bergman",
    "image": "http://blog.sethbergman.com/content/images/2015/11/retrocat.png",
    "description": "I enjoy helping people, have an entrepreneurial spirit, and an unquenchable thirst for knowledge. I learn a lot from people who have been here longer than me."
}
    </script>

    <meta name="generator" content="Ghost 0.7">
    <link rel="alternate" type="application/rss+xml" title="Seth Bergman | Full Stack Engineer" href="http://blog.sethbergman.com/rss/">
    <link href="../assets/css/style.css" rel="stylesheet" media="screen">
<link href="../assets/css/font-awesome.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
<link href="../assets/css/simple-line-icons.css" rel="stylesheet" media="screen">
<meta name="google-site-verification" content="kkKaoLDFtkX8TjNlzoQE6AdCEIokdL8TGR4fb_pjtL8">
<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack-extended.min.css">


	<!-- Preloader -->

	<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head><body class="author-template author-seth-bergman nav-closed"><div id="preloader" style="display;">
		<div id="status" style="display: none;"></div>
	</div>

	<!-- Home start -->

	
	<!-- Home end -->



    

    <div class="site-wrapper">

        

    <header class="main-header author-head  >
        <nav class=" main-nav="" overlay="" clearfix"="">
            <a class="blog-logo" href="http://blog.sethbergman.com"><img src="/content/images/2015/09/node_ninja-2.png" alt="Seth Bergman | Full Stack Engineer"></a>
        
    </header>

    <section class="author-profile inner">
        <figure class="author-image">
            <div class="img" style="background-image: url(/content/images/2015/11/handlebars-pic.jpg)"><span class="hidden">Seth Bergman's Picture</span></div>
        </figure>
        <h1 class="author-title">Seth Bergman</h1>
            <h2 class="author-bio">I enjoy helping people, have an entrepreneurial spirit, and an unquenchable thirst for knowledge. I learn a lot from people who have been here longer than me.</h2>
        <div class="author-meta">
            <span class="author-location icon-location">Kyle, TX</span>
            <span class="author-link icon-link"><a href="http://SethBergman.com">http://SethBergman.com</a></span>
            <span class="author-stats"><i class="icon-stats"></i> 4 posts</span>
        </div>
    </section>

<main class="content" role="main">

    <div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>
</div>

<article class="post tag-aws tag-amazon-web-services tag-ec2 tag-bash tag-cloud-automation tag-devops featured">
    <header class="post-header">
        <h2 class="post-title"><a href="/create-and-ssh-with-aws-ec2-using-this-simple-bash-script/">Create, SSH, and Terminate | AWS EC2 Automation with Bash Scripts</a></h2>
    </header>
    <section class="post-excerpt">
        <p>These bash scripts will allow you to auto-magically SSH into a newly provisioned EC2 containers on AWS, as well as terminate instances and commit to GitHub <a class="read-more" href="/create-and-ssh-with-aws-ec2-using-this-simple-bash-script/">»</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="/content/images/2015/11/handlebars-pic.jpg" alt="Seth Bergman" nopin="nopin">
        <a href="/author/seth-bergman/">Seth Bergman</a>
         on <a href="/tag/aws/">AWS</a>, <a href="/tag/amazon-web-services/">Amazon Web Services</a>, <a href="/tag/ec2/">EC2</a>, <a href="/tag/bash/">Bash</a>, <a href="/tag/cloud-automation/">Cloud Automation</a>, <a href="/tag/devops/">DevOps</a>
        <time class="post-date" datetime="2015-11-16">16 November 2015</time>
    </footer>
</article>
<article class="post tag-docker tag-ghost-tag">
    <header class="post-header">
        <h2 class="post-title"><a href="/bitnami-docker-and-ghost-setting-up-a-blog/">Bitnami, Docker and Ghost - Setting up a Blog</a></h2>
    </header>
    <section class="post-excerpt">
        <p>Introduction In this tutorial, we will use Bitnami containers to run the  Ghost blogging platform, taking advantage of Docker  features such as linking and volumes. node <a class="read-more" href="/bitnami-docker-and-ghost-setting-up-a-blog/">»</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="/content/images/2015/11/handlebars-pic.jpg" alt="Seth Bergman" nopin="nopin">
        <a href="/author/seth-bergman/">Seth Bergman</a>
         on <a href="/tag/docker/">Docker</a>, <a href="/tag/ghost-tag/">Ghost</a>
        <time class="post-date" datetime="2015-11-16">16 November 2015</time>
    </footer>
</article>
<article class="post tag-developer tag-github tag-gitter tag-chat">
    <header class="post-header">
        <h2 class="post-title"><a href="/gitter-chat/">Gitter Chat - Developers Everywhere!</a></h2>
    </header>
    <section class="post-excerpt">
        <p>Gitter is the home of many developer communities... Gitter is home to over 25,000 developer communities. By the makers of GitHub, this free public service <a class="read-more" href="/gitter-chat/">»</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="/content/images/2015/11/handlebars-pic.jpg" alt="Seth Bergman" nopin="nopin">
        <a href="/author/seth-bergman/">Seth Bergman</a>
         on <a href="/tag/developer/">Developer</a>, <a href="/tag/github/">GitHub</a>, <a href="/tag/gitter/">Gitter</a>, <a href="/tag/chat/">Chat</a>
        <time class="post-date" datetime="2015-11-10">10 November 2015</time>
    </footer>
</article>
<article class="post tag-seo">
    <header class="post-header">
        <h2 class="post-title"><a href="/free-seo-audit/">Free SEO Audit</a></h2>
    </header>
    <section class="post-excerpt">
        <p>What's Your SEO Score?   Enter the URL of any landing page or blog article and see how optimized it is for one keyword or phrase.      #seogroup <a class="read-more" href="/free-seo-audit/">»</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="/content/images/2015/11/handlebars-pic.jpg" alt="Seth Bergman" nopin="nopin">
        <a href="/author/seth-bergman/">Seth Bergman</a>
         on <a href="/tag/seo/">SEO</a>
        <time class="post-date" datetime="2015-10-20">20 October 2015</time>
    </footer>
</article>

<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>

</main>

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="http://blog.sethbergman.com">Seth Bergman | Full Stack Engineer</a> © 2015</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<style>
/* .post-head.main-header {
    height: 75vh;
} */
html {
    height: 100%;
    max-height: 100%;
    font-size: 85%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.scroll-down {
  display: none !important;
}
body {
    height: 100%;
    max-height: 100%;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.7rem;
    line-height: 1.75em;
    color: #3A4145;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: inherit;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #2E2E2E;
    line-height: 1.15em;
    text-align: -webkit-center;
    margin: 0 0 0.4em 0;
    font-family: "Open Sans", sans-serif;
    text-rendering: geometricPrecision;
}
h3 {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.post {
    position: inherit;
    width: 80%;
    max-width: 55%;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}
body {
    height: 100%;
    max-height: 100%;
    font-family: "Raleway", sans-serif;
}
.post-footer .share {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 160px;
}
.post-excerpt p {
    margin: 0em;
    font-size: 1.2em;
    line-height: 1.7em;
}

.read-more {
    text-decoration: blink;
}
.post-meta a {
    color: #666;
    text-decoration: none;
} 
    
#preloader {
    background: none;
}
div.nav {
    display: none !important;
}
</style>
<style>
@media only screen and (max-width: 500px) {
.start {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 12px;
    font-style: bolder;
    text-transform: none;
    margin: 8px 8px;
}
.post {
    position: inherit;
    width: 95%;
    max-width: 95%;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}
}
</style>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js?v=0f8f526f38"></script>
    <script type="text/javascript" src="/assets/js/index.js?v=0f8f526f38"></script>


</body></html>